{{#> layout}}
  {{#*inline "title"}}{{album.title}}{{/inline}}
  {{#*inline "content"}}
    <h1><a href="/">{{title}}</a> &raquo; {{album.title}}</h1>

    <small>Created {{album.created}}</small>

    <h2>Highlights</h2>
    <ul class="highlights">
      <li><img src="https://via.placeholder.com/200"></li>
      <li><img src="https://via.placeholder.com/200"></li>
      <li><img src="https://via.placeholder.com/200"></li>
    </ul>
  {{/inline}}
{{/layout}}