{{#> layout}}
  {{#*inline "title"}}{{album.title}}{{/inline}}
  {{#*inline "content"}}
    <div class="content">
      <h1 class="title"><a href="/">{{configuration.title}}</a> &raquo; {{album.title}}</h1>
      <small>Created {{album.created}}</small>
      <h2 class="subtitle">Highlights</h2>
    </div>
    <div class="columns is-multiline is-tablet">
      <div class="column is-one-third">
        <figure class="image is-4by3">
          <img src="https://via.placeholder.com/640x480">
        </figure>
      </div>
      <div class="column is-one-third">
        <figure class="image is-4by3">
          <img src="https://via.placeholder.com/640x480">
        </figure>
      </div>
      <div class="column is-one-third">
        <figure class="image is-4by3">
          <img src="https://via.placeholder.com/640x480">
        </figure>
      </div>
      <div class="column is-one-third">
        <figure class="image is-4by3">
          <img src="https://via.placeholder.com/640x480">
        </figure>
      </div>
    </div>
  {{/inline}}
{{/layout}}