{{#> layout}}
  {{#*inline "title"}}Home{{/inline}}
  {{#*inline "content"}}
    <h1 class="title">Home</h1>

    {{#each albums}}
      <section>
        <div class="content">
          <h2 class="subtitle"><a href="/album/{{name}}">{{title}}</a></h2>
          <small>Created {{created}}</small>
        </div>
        <div class="columns is-multiline is-tablet">
          <div class="column is-one-third">
            <figure class="image is-4by3">
              <img src="https://via.placeholder.com/640x480">
            </figure>
          </div>
          <div class="column is-one-third">
            <figure class="image is-4by3">
              <img src="https://via.placeholder.com/640x480">
            </figure>
          </div>
          <div class="column is-one-third">
            <figure class="image is-4by3">
              <img src="https://via.placeholder.com/640x480">
            </figure>
          </div>
        </div>

        <a href="/album/{{name}}">More</a>
      </section>
    {{/each}}
  {{/inline}}
{{/layout}}