<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{> title}} - {{title}}</title>
    <style type="text/css">
      body { background-color: #202021; color: white; font-family: "Skolar Regular","Segoe WPC","Segoe UI",Helvetica,Arial,"Arial Unicode MS",Sans-Serif; }
      a, a:visited { color: #efefef; }
      section { padding-bottom: 1em; }
      ul.highlights { margin: 0; padding: 0; }
      ul.highlights > li { padding: .5em; display: inline-block; }
    </style>
  </head>
  <body>
    {{> content}}
  </body>
</html>