<!DOCTYPE html>
<html lang="de" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Fotoblog von Timm Friebe">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@timmfriebe">
  {{> meta}}
  <link rel="stylesheet" type="text/css" href="/assets/{{asset 'vendor.css'}}">
  <link rel="icon" type="image/svg+xml" href="/static/icon.svg">
  <style type="text/css">
    /* CSS reset, see https://piccalil.li/blog/a-modern-css-reset/ */
    *, *::before, *::after {
      box-sizing: border-box;
    }

    html {
      scroll-behavior: smooth;
    }

    body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
      margin: 0;
    }

    body {
      min-height: 100vh;
      text-rendering: optimizeSpeed;
      line-height: 1.5;
    }

    h1, h2, h3, h4 {
      line-height: 1.125;
      letter-spacing: 0px;
    }

    ul[role='list'], ol[role='list'] {
      list-style: none;
    }

    a:not([class]) {
      text-decoration-skip-ink: auto;
    }

    img, picture {
      max-width: 100%;
      display: block;
    }

    /* Dialog */
    body {
      --page-color: black;
      --nav-color: #111;
      --main-color: #222;
      --text-color: white;
      --meta-color: #ccc;
      --border-color: #ccc;
      --button-color: #444;
      --segment-color: rgb(255 255 255 / .2);

      background-color: var(--page-color);
      color: var(--text-color);
      font-family: 'Overpass',-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
    }

    body.light {
      --page-color: #ccc;
      --nav-color: #eee;
      --main-color: white;
      --text-color: black;
      --meta-color: #666;
      --border-color: #ddd;
      --button-color: #666;
      --segment-color: #efefef;
    }

    h1 {
      font-size: 1.7rem;
      margin-bottom: 1rem;
    }

    a {
      color: orange;
    }

    nav {
      display: flex;
      justify-content: center;
    }

    nav ul {
      width: 1023px;
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
      list-style-type: none;
      background-color: var(--nav-color);
    }

    nav li {
      padding: .35rem 1.5rem;
      font-size: 1.2rem;
      font-variant-caps: all-small-caps;
      font-weight: 900;
      letter-spacing: .2rem;
    }

    nav li.active {
      border-bottom: .25rem solid #444;
    }

    nav li.right {
      margin-left: auto;
    }

    nav li a {
      text-decoration: none;
    }

    nav li button {
      background-color: inherit;
      border: none;
      cursor: pointer;
    }

    main {
      display: flex;
      justify-content: center;
    }

    #theme {
      background-image: url(/static/theme.svg);
      background-position: center;
      background-repeat: no-repeat;
      color: transparent;
      transition: transform ease-in-out 200ms;
    }

    body.light #theme {
      transform: rotate(180deg);
    }

    .container {
      padding: 1rem;
      width: 1023px;
      max-width: 1023px;
      background-color: var(--main-color);
      border-bottom-left-radius: .25rem;
      border-bottom-right-radius: .25rem;
    }

    .cover {
      margin: -1rem -1rem 1rem -1rem;
      background-size: cover;
      background-position: center;
      height: 50vh;
      box-shadow: 0 .25rem .5rem rgb(0 0 0 / .4);
    }

    .cover h1 {
      font-size: 7rem;
      margin: 1rem;
      letter-spacing: .25rem;
      display: inline-block;
      color: white;
    }

    #search {
      margin-top: 1rem;
      margin-bottom: 1rem;
      background-color: white;
      border-radius: .35rem;
      border: 1px solid var(--border-color);
      padding: .35rem 1rem .35rem 2.75rem;
      display: grid;
      box-shadow: .25rem .25rem 1rem rgb(0 0 0 / .2);
      position: relative;
      height: 2.75rem;
    }

    #search::before {
      content: '';
      position: absolute;
      inset: .35rem .5rem;
      width: 2rem;
      background: no-repeat center / 1.5rem url(/static/search.svg);
    }

    #search input[type='text'] {
      font-size: 1.15rem;
      font-family: inherit;
      font-weight: 700;
      padding: .25rem;
      border: none;
      outline: none;
      background-color: transparent;
      position: relative;
    }

    .suggestions {
      position: absolute;
      left: -1px;
      right: -1px;
      top: calc(1.75rem - 1px);
      width: calc(100% + 2px);
      background-color: white;
      color: black;
      border: 1px solid var(--border-color);
      border-top-color: #eee;
      border-bottom-right-radius: .35rem;
      border-bottom-left-radius: .35rem;
      padding: 0;
      box-shadow: .5rem .5rem 1rem -.5rem rgb(0 0 0 / .8);
      z-index: 999;
      transform: scale(1, 0);
      transition: transform ease-in-out 150ms;
      transform-origin: top;
      list-style: none;
    }

    .suggestions li {
      padding: .5rem;
    }

    .suggestions li:last-child {
      border-bottom-right-radius: .35rem;
      border-bottom-left-radius: .35rem;
    }

    .suggestions li:hover, .suggestions li[aria-selected='true'] {
      background-color: #efefef;
    }

    .suggestions li em {
      font-style: normal;
      font-weight: 900;
    }

    .suggestions a {
      display: grid;
      grid-template-areas: 'title date' 'locations empty';
      grid-template-columns: 1fr max-content;
      text-decoration: none;
    }

    .suggestions a.journey .title::before {
      content: 'Reise: ';
    }

    .suggestions a.fulltext {
      grid-area: title;
      color: black;
    }

    .suggestions .title {
      grid-area: title;
    }

    .suggestions .date {
      grid-area: date;
      color: black;
    }

    .suggestions .locations {
      grid-area: locations;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #999;
    }

    #search.suggesting {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom:  none;
    }

    #search.suggesting .suggestions {
      transform: scale(1, 1);
    }

    #results .summary {
      margin-bottom: 1rem;
      color: #ccc;
    }

    #results .excerpt {
      overflow-wrap: anywhere;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    #results em {
      font-style: normal;
      font-weight: 900;
      text-decoration: underline dotted orange;
    }

    article.intro {
      font-size: 1.15rem;
    }

    h2.news {
      margin-top: 2rem;
      margin-bottom: .5rem;
    }

    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    .card {
      border-radius: .25rem;
      position: relative;
      transform: scale;
      transition: 100ms ease-in-out;
      box-shadow: .5rem .5rem 1rem rgb(0 0 0 / .2);
    }

    .card:hover {
      transform: scale(1.05, 1.05);
    }

    .card img {
      border-radius: .25rem;
      height: 22rem;
      width: 100%;
      object-fit: cover;
    }

    .card.continue img {
      opacity: .3;
    }

    .card .next {
      position: absolute;
      top: calc(50% - 1.5rem);
      left: calc(50% - 1.5rem);
      background-color: white;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      text-align: center;
      line-height: 3rem;
      opacity: 1;
      font-size: 1.75rem;
      box-shadow: .5rem .5rem 1rem rgb(0 0 0 / .2);
    }

    .card .date {
      position: absolute;
      top: .75rem;
      left: .75rem;
      background-color: black;
      border-radius: .25rem;
      color: white;
      padding: .125rem .4rem;
    }

    .card h3 {
      position: absolute;
      inset: auto 1rem 1rem 1rem;
      font-size: 1.5rem;
      height: 1.5rem;
      color:  white;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      text-shadow: 0 0 .5rem rgb(0 0 0 / .6);
    }

    section {
      padding-top: 1rem;
      margin-bottom: 3rem;
      font-size: 1.1rem;
    }

    section h2 {
      font-size: 1.5rem;
      font-weight: 700;
      display: grid;
      grid-template-columns: 1fr max-content;
    }

    section h2 a {
      color: var(--text-color);
    }

    section h2 .top {
      text-decoration: none;
      color: orange;
    }

    .meta, .meta a {
      color: var(--meta-color);
    }

    ul.locations {
      display: inline;
      padding-left: 0;
    }

    .locations li {
      display: inline;
    }

    .locations li:first-child:not(:last-child)::after, .locations li + li:not(:last-child)::after {
      content: ' / ';
      margin-right: -.1rem;dashed
      color: orange;
    }

    ul.summary {
      list-style: none;
      line-height: 2rem;
      background-color: var(--segment-color);
      border-radius: .25rem;
      padding: .25rem 0.75rem;
      margin-top: 2rem;
    }

    .summary li::before {
      content: '\2193 ';
      color: orange;
    }

    .summary a {
      color: var(--text-color);
      padding-left: .5ch;
      text-decoration: none;
      line-height: rem;
    }

    .summary a:hover {
      text-decoration: underline dotted orange;
    }

    .summary .date {
      float: right;
      color: var(--meta-color);
      font-size: .9rem;
    }

    a.scroll {
      text-decoration: none;
      color: var(--text-color);
    }

    a.scroll::after {
      content: '#';
      color: orange;
      padding-left: .25rem;
      opacity: 0;
    }

    a.scroll:hover::after {
      opacity: .5;
    }

    section .content {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    section .content a {
      overflow-wrap: anywhere;
    }

    section .content p {
      margin-bottom: 1rem;
    }

    .images {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    .images.overview {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding-bottom: 1rem;
    }

    .images.all {
      grid-template-columns: 1fr;
    }

    .images.size-1 {
      grid-template-columns: 1fr;
    }

    .images.size-1 video {
      aspect-ratio: auto;
    }

    .image img, .image video {
      aspect-ratio: 15 / 10;
      object-fit: cover;
      border-radius: .25rem;
      box-shadow: .25rem .25rem 1rem rgb(0 0 0 / .2);
    }

    #map {
      margin-top: 1rem;
      width: 100%;
      height: 20rem;
      position: relative;
    }

    #map.full {
      height: 50vh;
      margin-bottom: 2rem;
    }

    #map .ol-viewport {
      border-radius: .25rem;
    }

    #map .popup {
      position: absolute;
      z-index: 1;
      background-color: white;
      border-radius: .25rem;
      display: none;
      padding: .25rem;
    }

    #map .popup ul {
      list-style: none;
      padding: .25rem;
      margin: 0;
      color: black;
    }

    .pagination {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }

    .pagination a {
      background-color: var(--button-color);
      border-radius: .125rem;
      padding: .25rem .5rem;
      width: 6rem;
      text-align: center;
      text-decoration: none;
    }

    .pagination a[aria-disabled] {
      color: #aaa;
    }

    .pagination .page {
      padding: .25rem 0;
    }

    #lightbox {
      position: fixed;
      z-index: 999;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #444;
      transform: scale(0, 0);
      transition: transform ease-in-out 300ms;
      -webkit-backdrop-filter: blur(10px) brightness(.5);
      backdrop-filter: blur(10px) brightness(.5);
      padding: .5rem;
    }

    #lightbox.open {
      transform: scale(1, 1);
    }

    #lightbox .image {
      position: relative;
    }

    #lightbox img {
      border: 2px solid #444;
      border-radius: .25rem;
      max-height: calc(100vh - 6rem);
      width: auto;
    }

    #lightbox .meta {
      position: absolute;
      bottom: 2px;
      right: 0;
      left: 0;
      font-size: .9rem;
      display: grid;
      grid-template-columns: repeat(6, max-content);
      gap: 1px;
      justify-content: center;
      pointer-events: none;
      transform: scale(0, 1);
      transform-origin: bottom;
      transition: transform ease-in-out 70ms;
    }

    #lightbox img:hover + .meta {
      transform: scale(1, 1);
    }

    #lightbox .meta div {
      background-color: white;
      color: black;
      padding: .25rem 1rem;
    }

    #lightbox .meta div:where(:first-child) {
      border-top-left-radius: .25rem;
    }

    #lightbox .meta div:where(:last-child) {
      border-top-right-radius: .25rem;
    }

    #lightbox i {
      position: absolute;
      top: .5rem;
      right: .5rem;
      background-color: #444;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: 1px solid #666;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      padding-top: 6px;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 400;
      cursor: pointer;
    }

    footer {
      padding: .5rem;
      display: flex;
      justify-content: center;
    }

    @media (max-width: 767px) {
      .images {
        grid-template-columns: 1fr;
      }

      .images.overview {
        grid-template-columns: 1fr 1fr;
      }

      .cover h1 {
        font-size: 5rem;
      }

      .cards {
        grid-template-columns: 1fr;
      }

      .card:hover {
        transform: scale(1, 1);
      }
    }

    @media (max-width: 619px) {
      #lightbox {
        padding: 0;
      }

      #lightbox .meta {
        bottom: auto;
        grid-template-columns: repeat(3, max-content) 1fr;
        transform: scale(1, 1);
        gap: 0;
        background-color: white;
        border: none;
        border-radius: 0;
      }

      #lightbox img {
        border: none;
        border-radius: 0;
      }

      #lightbox .meta div:nth-child(2) {
        grid-column: span 3;
      }

      #lightbox .meta div {
        border-radius: unset;
        background-color: unset;
      }
    }

    @media (max-width: 419px) {
      .summary .date {
        display: none;
      }
    }

    /* See https://css-tricks.com/introduction-reduced-motion-media-query/ */
    @media (prefers-reduced-motion: reduce) {
      *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
      }
    }
  </style>
  <title>{{> title}} - Dialog - Timm Friebe</title>
</head>
<body class="{{request.cookies.theme}}">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <ul>
      <li {{#if (equals scope 'home')}}class="active"{{/if}}><a href="/">Home</a></li>
      <li {{#if (any (equals scope 'feed') (equals parent 'feed'))}}class="active"{{/if}}><a href="/feed">Feed</a></li>
      <li {{#if (equals scope 'journeys')}}class="active"{{/if}}><a href="/journeys">Reisen</a></li>
      {{! Toggle theme }}
      <li class="right"><button id="theme" aria-label="Change theme" onclick="theme()">...</button></li>
    </ul>
  </nav>

  <main>
    <div class="container">
      {{> main}}
    </div>
  </main>

  <div id="lightbox">
    <i>×</i>
    <div class="image">
      <img alt="Lightbox" width="100%">
      <div class="meta">
        <div><output name="make"></output></div>
        <div><output name="model"></output></div>
        <div>ISO <output name="isospeedratings"></output></div>
        <div><output name="focallength"></output> mm</div>
        <div><output name="aperturefnumber"></output></div>
        <div><output name="exposuretime"></output> s</div>
      </div>
    </div>
  </div>

  <footer class="footer">
    With ❤️ by Timm Friebe 2005-{{date null format="Y"}}
  </footer>


  <script src="/assets/{{asset 'vendor.js'}}" defer></script>
  {{> scripts}}

  <script type="module">
    {{&use 'lightbox'}}
    const lightbox = new Lightbox();
    lightbox.attach(document.querySelectorAll('a[data-lightbox]'), document.querySelector('#lightbox'));
  </script>
</body>
</html>