<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{> title}} - {{configuration.title}}</title>
    <link rel="stylesheet" href="/static/{{configuration.theme}}/style.css">
  </head>
  <body>
    {{> content}}
  </body>
</html>