<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Permanent+Marker:400">
    <link rel="stylesheet" href="/static/{{configuration.theme}}/style.css">
    <title>{{> title}} - {{configuration.title}}</title>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a id="brand" class="navbar-item" href="/">
          {{configuration.title}}
        </a>
        <a class="navbar-item">By Date</a>
        <a class="navbar-item">By Topic</a>
      </div>
    </nav>

    <main>
      <div class="container">
        {{> content}}
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>{{configuration.title}}</strong>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>