<dialog id="lightbox">
  <div class="image">
    <div class="imageset">
      <img class="prev" alt="Lightbox (previous)" width="100%">
      <img class="next" alt="Lightbox (next)" width="100%">
      <img class="display" alt="Lightbox" width="100%">
    </div>
    <div class="meta">
      <div><output name="datetime"></output></div>
      <div><output name="make"></output></div>
      <div><output name="model"></output></div>
      <div><output name="lensmodel"></output></div>
      <div>ISO <output name="isospeedratings"></output></div>
      <div><output name="focallength"></output> mm</div>
      <div><output name="aperturefnumber"></output></div>
      <div><output name="exposuretime"></output> s</div>
    </div>
  </div>
</dialog>