<form id="search" method="GET" action="/search">
  <input accesskey="s" autocomplete="off" type="text" name="q" value="{{request.params.q}}" placeholder="Suche nach Orten, Reisen und Erfahrungen…">
  <ul class="suggestions" role="list"></ul>
</form>
