---
wmo:
  '00': {icon: 'clear-day', text: 'Sonnig'}
  '01': {icon: 'partly-cloudy-day', text: 'Heiter'}
  '02': {icon: 'partly-cloudy-day', text: 'Teilweise bewölkt'}
  '03': {icon: 'overcast-day', text: 'Bewölkt'}
  '04': {icon: 'smoke', text: 'Rauch'}
  '05': {icon: 'haze', text: 'Dunst'}
  '06': {icon: 'dust-day', text: 'Staubig'}
  '07': {icon: 'dust', text: 'Staub'}
  '08': {icon: 'dust-wind', text: 'Sandwirbel'}
  '09': {icon: 'dust-wind', text: 'Sandsturm'}
  '10': {icon: 'mist', text: 'Dunst'}
  '11': {icon: 'fog-day', text: 'Stellenweise Nebel'}
  '12': {icon: 'partly-cloudy-day-fog', text: 'Neblig'}
  '13': {icon: 'thunderstorms-day', text: 'Blitze'}
  '14': {icon: 'overcast-day', text: 'Regnerisch'}
  '15': {icon: 'partly-cloudy-day-drizzle', text: 'Bewölkt und Nieselregen'}
  '16': {icon: 'partly-cloudy-day-rain', text: 'Bewölkt und Regen'}
  '17': {icon: 'thunderstorms', text: 'Gewitter'}
  '18': {icon: 'wind', text: 'Böen'}
  '19': {icon: 'tornado', text: 'Tornado'}
  '20': {icon: 'partly-cloudy-day-drizzle', text: 'Nieselregen'}
  '21': {icon: 'partly-cloudy-day-rain', text: 'Regen'}
  '22': {icon: 'partly-cloudy-day-snow', text: 'Schnee'}
  '23': {icon: 'partly-cloudy-day-sleet', text: 'Regen und Schnee'}
  '24': {icon: 'sleet', text: 'Gefrierender Regen'}
  '25': {icon: 'extreme-rain', text: 'Regenschauer'}
  '26': {icon: 'extreme-snow', text: 'Schneeschauer'}
  '27': {icon: 'partly-cloudy-day-hail', text: 'Hagelschauer'}
  '28': {icon: 'partly-cloudy-day-fog', text: 'Nebel'}
  '29': {icon: 'thunderstorms-rain', text: 'Gewitter'}
  '30': {icon: 'dust-wind', text: 'Staub- oder Sandsturm'}
  '31': {icon: 'dust-wind', text: 'Staub- oder Sandsturm'}
  '32': {icon: 'dust-wind', text: 'Staub- oder Sandsturm'}
  '33': {icon: 'dust-wind', text: 'Staub- oder Sandsturm'}
  '34': {icon: 'dust-wind', text: 'Staub- oder Sandsturm'}
  '35': {icon: 'dust-wind', text: 'Staub- oder Sandsturm'}
  '36': {icon: 'snow', text: 'Schneeverwehungen'}
  '37': {icon: 'snow', text: 'Schneetreiben'}
  '38': {icon: 'snow', text: 'Schneeverwehungen'}
  '39': {icon: 'snow', text: 'Schneeverwehungen'}
  '40': {icon: 'fog', text: 'Nebel'}
  '41': {icon: 'fog', text: 'Dichter Nebel'}
  '42': {icon: 'fog', text: 'Nebel'}
  '43': {icon: 'fog', text: 'Dichter Nebel'}
  '44': {icon: 'fog', text: 'Nebel'}
  '45': {icon: 'fog', text: 'Dichter Nebel'}
  '46': {icon: 'fog', text: 'Gefrierender Nebel'}
  '47': {icon: 'fog', text: 'Gefrierender Nebel'}
  '48': {icon: 'fog', text: 'Gefrierender Nebel'}
  '49': {icon: 'fog', text: 'Gefrierender Nebel und Raufrost'}
  '50': {icon: 'drizzle', text: 'Leichter Nieselregen'}
  '51': {icon: 'drizzle', text: 'Mäßiger Nieselregen'}
  '52': {icon: 'drizzle', text: 'Starker Nieselregen'}
  '53': {icon: 'partly-cloudy-day-drizzle', text: 'Zeitweise leichter Nieselregen'}
  '54': {icon: 'partly-cloudy-day-drizzle', text: 'Zeitweise mäßiger Nieselregen'}
  '55': {icon: 'partly-cloudy-day-drizzle', text: 'Zeitweise starker Nieselregen'}
  '56': {icon: 'sleet', text: 'Leichter gefrierender Nieselregen'}
  '57': {icon: 'sleet', text: 'Starker gefrierender Nieselregen'}
  '58': {icon: 'sleet', text: 'Leichter gefrierender Nieselregen und Regen'}
  '59': {icon: 'sleet', text: 'Starker gefrierender Nieselregen und Regen'}
  '60': {icon: 'rain', text: 'Leichter Regen'}
  '61': {icon: 'rain', text: 'Mäßiger Regen'}
  '62': {icon: 'rain', text: 'Starker Regen'}
  '63': {icon: 'partly-cloudy-day-rain', text: 'Zeitweise leichter Regen'}
  '64': {icon: 'partly-cloudy-day-rain', text: 'Zeitweise mäßiger Regen'}
  '65': {icon: 'partly-cloudy-day-rain', text: 'Zeitweise starker Regen_'}
  '66': {icon: 'sleet', text: 'Leichter gefrierender Regen'}
  '67': {icon: 'sleet', text: 'Starker gefrierender Regen'}
  '68': {icon: 'sleet', text: 'Leichter Regen mit Schnee'}
  '69': {icon: 'sleet', text: 'Starker Regen mit Schnee'}
  '70': {icon: 'snow', text: 'Leichter Schneefall'}
  '71': {icon: 'snow', text: 'Mäßiger Schneefall'}
  '72': {icon: 'snow', text: 'Starker Schneefall'}
  '73': {icon: 'partly-cloudy-day-snow', text: 'Zeitweise leichter Schneefall'}
  '74': {icon: 'partly-cloudy-day-snow', text: 'Zeitweise mäßiger Schneefall'}
  '75': {icon: 'partly-cloudy-day-snow', text: 'Zeitweise starker Schneefall'}
  '76': {icon: 'snow', text: 'Schneekörner'}
  '77': {icon: 'snow', text: 'Schneekristalle'}
  '78': {icon: 'snow', text: 'Eisnadeln'}
  '79': {icon: 'sleet', text: 'Eisregen'}
  '80': {icon: 'rain', text: 'Leichte Schauer'}
  '81': {icon: 'rain', text: 'Mäßige Schauer'}
  '82': {icon: 'rain', text: 'Starke Schauer'}
  '83': {icon: 'sleet', text: 'Schauer von Regen und Schnee'}
  '84': {icon: 'snow', text: 'Schauer von Schnee'}
  '85': {icon: 'snow', text: 'Leichte Schneeschauer'}
  '86': {icon: 'snow', text: 'Starke Schneeschauer'}
  '87': {icon: 'hail', text: 'Hagelschauer'}
  '88': {icon: 'hail', text: 'Regen- und Hagelschauer'}
  '89': {icon: 'thunderstorms', text: 'Leichte Gewitter mit Hagel'}
  '90': {icon: 'thunderstorms-day', text: 'Gewitter ohne Niederschlag'}
  '91': {icon: 'thunderstorms-day-rain', text: 'Gewitter mit leichtem Regen'}
  '92': {icon: 'thunderstorms-rain', text: 'Gewitter mit Regen'}
  '93': {icon: 'thunderstorms-snow', text: 'Gewitter mit Schnee'}
  '94': {icon: 'thunderstorms', text: 'Gewitter mit Hagel'}
  '95': {icon: 'thunderstorms-day-extreme', text: 'Starkes Gewitter'}
  '96': {icon: 'thunderstorms-day-extreme', text: 'Starkes Gewitter'}
  '97': {icon: 'thunderstorms-day-extreme', text: 'Starkes Gewitter'}
  '98': {icon: 'tornado', text: 'Tornado'}
  '99': {icon: 'hurricane', text: 'Sehr starkes Gewitter'}
---
{{#with (lookup wmo in.weather.code)}}
  <span class="weather">
    <img alt="{{text}}" title="{{text}}" src="/static/weather/{{icon}}.svg">
    {{temperature in.weather.min in.weather.max tolerance=1.5}} °C
  </span>
{{/with}}
