body {
  background-color: #202021;
}

nav {
  margin-bottom: 1em !important;
}

nav #brand {
  font-family: "Permanent Marker";
}

main {
  color: white;
  background-color: #202021;
}

main a, main a:visited {
  color: #efefef;
}

main a:hover {
  text-decoration: underline;
}

main .title {
  color: white;
}

section {
  padding-bottom: 1em;
}