body {
  background-color: #202021;
  color: white;
}

nav {
  margin-bottom: 1em !important;
}

a, a:visited {
  color: #efefef;
}

section {
  padding-bottom: 1em;
}

ul.highlights {
  margin: 0;
  padding: 0;
}

ul.highlights > li {
  padding: .5em;
  display: inline-block;
}